<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="au theme template">
  <meta name="author" content="Hau Nguyen">
  <meta name="keywords" content="au theme template">
  <title>Dashboard</title>
  <link href="/css/font-face.css" rel="stylesheet" media="all">
  <link href="/js/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="/js/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
  <link href="/js/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="/js/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="/js/animsition/animsition.min.css" rel="stylesheet" media="all">
  <link href="/js/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
  <link href="/js/wow/animate.css" rel="stylesheet" media="all">
  <link href="/js/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
  <link href="/js/slick/slick.css" rel="stylesheet" media="all">
  <link href="/js/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="/js/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/css/responsive.bootstrap4.min.css">
  <link href="/css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
  <div class="page-wrapper">
    <header class="header-mobile d-block d-lg-none">
      <div class="header-mobile__bar">
        <div class="container-fluid">
          <div class="header-mobile-inner">
            <a class="logo" href="/"><div class="icon"><i class="zmdi zmdi-eye zmdi-hc-4x"></i> <strong>BLUE EYE<strong></div></a>
            <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
          </div>
        </div>
      </div>
      <nav class="navbar-mobile">
        <div class="container-fluid">
          <ul class="navbar-mobile__list list-unstyled">
          <li><a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li><a href="#heatmap"><i class="fas fa-chart-bar"></i>Informations</a></li>
          <li><a href="#events"><i class="fas fa-table"></i>Events</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo"><a href="/"><div class="icon"><i class="zmdi zmdi-eye md-48"></i> <strong>BLUE EYE<strong></div></a></div>
      <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar__list">
          <li><a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li><a href="#heatmap"><i class="fas fa-chart-bar"></i>Informations</a></li>
          <li><a href="#events"><i class="fas fa-table"></i>Events</a></li>
          </ul>
        </nav>
      </div>
    </aside>

    <div class="page-container">
      <div class="main-content">
        <div class="section__content section__content--p30">
          <div class="container-fluid">

            <div class="row m-t-15" id="person">
                <div class="col-sm-12 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="im im-pulse"></i>&nbsp;UUID</h3>
                    </div>
                    <div class="card-body">
                      <div id=uuid><%= uuid %></div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- row m-t-15 -->

            <div class="row m-t-15">

              <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                  <div class="overview__inner">
                    <div class="overview-box clearfix">
                      <div class="icon"><i class="zmdi zmdi-disc-full"></i></div>
                      <div class="text"><h2><div id="airpressure">0<div></h2><span>Air Pressure</span></div>
                    </div>
                    <div class="overview-chart"><canvas id="widgetAirPressure"></canvas></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                  <div class="overview__inner">
                    <div class="overview-box clearfix">
                      <div class="icon"><i class="zmdi zmdi-battery-alert"></i></div>
                      <div class="text"><h2><div id="battery">0<div></h2><span>Battery</span></div>
                    </div>
                    <div class="overview-chart"><canvas id="widgetBattery"></canvas></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                  <div class="overview__inner">
                    <div class="overview-box clearfix">
                      <div class="icon"><i class="zmdi zmdi-sun"></i></div>
                      <div class="text"><h2><div id="temperature">0<div></h2><span>Temperature</span></div>
                    </div>
                    <div class="overview-chart"><canvas id="widgetTemperature"></canvas></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                  <div class="overview__inner">
                    <div class="overview-box clearfix">
                      <div class="icon"><i class="zmdi zmdi-label-heart"></i></div>
                      <div class="text"><h2><div id="heartrate">0<div></h2><span>Heart Rate</span></div>
                    </div>
                    <div class="overview-chart"><canvas id="widgetHeartRate"></canvas></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row m-t-15 -->

            <div class="row m-t-15" id="locations">
                <div class="col-sm-12 col-lg-12">
                  <div class="card">
                    <div class="card-header"><h3 class="card-title"><i class="zmdi zmdi-gps-dot"></i>&nbsp;Locations</h3></div>
                    <div class="card-body"><div id="map-canvas"></div></div>
                  </div>
                </div>
            </div>
            <!-- row m-t-15 -->

            <div class="row m-t-15" id="information">
              <div class="col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-header"><h3 class="card-title"><i class="zmdi zmdi-account-circle"></i>&nbsp;Information</h3></div>
                  <div class="card-body">
                    <table class="table table-bordered table-striped">
                    <thead><tr><td>type</td><td>value</td></thead>
                    <tbody>
                    <tr><td>GPS</td><td><div id="gps"></div></td></tr>
                    <tr><td>Heart Rate</td><td><div id="hrm"></div></td></tr>
                    <tr><td>Accelerometer</td><td><div id="accel"></div></td></tr>
                    <tr><td>Gyroscope</td><td><div id="gyro"></div></td></tr>
                    <tr><td>Barometer</td><td><div id="barometer"></div></td></tr>
                    <tr><td>Light</td><td><div id="light"></div></td></tr>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- row m-t-15 -->

            <div class="row m-t-15" id="information">
              <div class="col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-header"><h3 class="card-title"><i class="zmdi zmdi-comment-alt-text"></i>&nbsp;Comment</h3></div>
                  <div class="card-body">
                    <form class="form-inline" role="form">
                      <input id="comment" type="text" class="form-control" placeholder="Text input">&nbsp;&nbsp;
                      <button id="button" class="btn btn-primary" type="button">send</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- row m-t-15 -->

            <div class="row m-t-15" id="information">
              <div class="col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-header"><h3 class="card-title"><i class="zmdi zmdi-comment-alt-text"></i>&nbsp;Event</h3></div>
                  <div class="card-body">
                    <form class="form-inline" role="form">
                      <input id="comment" type="text" class="form-control" placeholder="Text input">&nbsp;&nbsp;
                      <button id="button" class="btn btn-primary" type="button">send</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- row m-t-15 -->

          </div>
        </div>
      </div>
      <!-- END MAIN CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->

    <!-- Jquery JS-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/js/bootstrap-4.1/popper.min.js"></script>
    <script src="/js/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/js/slick/slick.min.js">
    </script>
    <script src="/js/wow/wow.min.js"></script>
    <script src="/js/animsition/animsition.min.js"></script>
    <script src="/js/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/js/counter-up/jquery.waypoints.min.js"></script>
    <script src="/js/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/js/circle-progress/circle-progress.min.js"></script>
    <script src="/js/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/js/chartjs/Chart.bundle.min.js"></script>
    <script src="/js/select2/select2.min.js">
    </script>
    <script src="/js/heatmap.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/dataTables.responsive.min.js"></script>
    <script src="/js/responsive.bootstrap4.min.js"></script>

    <script src="/js/gmap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwtnd2FbijCRNa9sgeVJ51oDj4O_3t6So&libraries=visualization,geometry,drawing&callback=initMap" async defer></script>
    <script src="/js/main.js"></script>


</body>

</html>
<!-- end document-->

